{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1 class="my-4">Book Catalog</h1>
  <a href="{% url 'add_book' %}" class="btn btn-primary mb-4">Add New Book</a>
  <div class="row">
    {% for book in books %}
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        {% if book.image %}
        <img
          src="{{ book.image.url }}"
          alt="{{ book.title }}"
          class="card-img-top"
        />
        {% else %}
        <p class="text-muted p-3">No image available</p>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">by {{ book.author }}</p>
          <p class="card-text">{{ book.available_copies }} copies available</p>
          <a href="{% url 'checkout_book' book.id %}" class="btn btn-success"
            >Check Out</a
          >
          <a href="{% url 'place_hold' book.id %}" class="btn btn-warning"
            >Place Hold</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
